body{
    background-color: #fff;
    font-style: italic;
    font-family: cursive;
     margin: 0px;
     text-transform: uppercase;
}
.container{
    width:1170px;
    margin: auto;
}
/* start slide */
.header .slider{
    background-color: #eee;
    height: 0px;
}
.header .slider .info {
    margin: 0px;
    background-image: url('3.jpg');
    background-size: cover;
    padding: 300px 0 0 180px ;    
    height: 330px;
}
.header .slider .info h3{
    margin: 0;
}
.header .slider .info button{
    text-decoration: underline;
    background-color: none;
    border: none ;
    cursor: pointer;   
}
.header .slider .info button:hover{
    border: 1px solid #000 ;  
    background-color: #888;
    text-decoration: none;
    border-radius: 5px;
}
.header .slider .info a{
    border: none solid #000 ;  
    background-color: #888;
    text-decoration: none;
}
/* end slide */
/* start navbar */
.navbar{
    padding-bottom: 20px;
}
.navbar .title{
    width: 25%;
    float: left;
    text-align: center;
}
.navbar .title h1{
    color: aqua;
    padding-top: 0px;
    font-family: cursive;
}
.navbar .menu{
    float: right;
    text-align: center;
    width: 75%;
}
.navbar .menu li,a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 10px ;
    display: inline-block;
    color: #000;
}
.navbar li:hover{
    font-size: large;
    background-color: aqua;
    border-radius: 5px;
}
/* end navbar */
/* start features */
.features{
    padding-top: 630px;
    margin: 5px;
}
.features .feat{
    height: 150px;
    float: left;
    width: 33.3333333333%
}
.features .feat h3{
    text-transform: uppercase;
    padding-left: 20px;
}
.features .feat p{
line-height: normal;
color: #716868;
}
.features .feat:hover{
    background-color: #e3dbdb;
    border-radius: 6em;
    color: #0c0404;
}
/* end features */
سفشقف
/* start content */
.about {
    padding-top: 200px;
}
.about .image {
    float: left;
    width: 40%;
}
.about .image img{
    border-radius: 6em;
    height: 370px;
    width: 100%;
    padding-top: 20px;
}
.about .core {
    width: 60%;
    float: left;
}
.about .core h2,p{
    padding-left: 20px;
 }
.about .core .hobbies{
    overflow: hidden;
    margin: 30px;
}
.about .core .hobbies>div{
    float: left;
    width: 50%;
    min-height: 80px;
}
.about .core .hobbies>div:hover{
    background-color: #eee;
    border-radius: 3em;
}
/* end content */
/* start testi */
.testi{
    padding-top: 680px;
    text-align: center;
}
.testi p{
    color: #888;
    line-height: 2.6;
}
.testi h3,p:hover{
    color: #fff;
    background-color: #333;
}
/* end testi */
/*start contact-us*/
.contact-us{
 padding-top: 150px;
}
.contact-us .row{
    float: left;
}
.contact-us p{
    color: #010108;
    margin-bottom: 30px;
}
.contact-us  input {
    display: block;
    margin-bottom:  18px;
}
.contact-us .contact-info{
    width: auto;
    padding-left: 600px;
}
.contact-us .contact-info i{
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.contact-us .contact-info i span{
    font-size: 24px;
    font-family: monospace;
    margin-bottom: 10px;
}
.contact-us .contact-info img{
    width: 100px;
}
.contact-us .contact-btn{
    margin: 20px auto;
    display: block;
    padding: 8px 20px;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #086d6de0;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
} 
/*end contact-us*/
/*start copyright*/
.copyright{
    border-top: 1px solid #333;
    margin-top: 150px;
}
.copyright .row .col{
    display: inline;
    float: left;
    margin-top: 10px;
}
.copyright .row .col .list{
    width: auto;
    float: right;
}
.copyright ul {    
    padding-top: 0px;
    margin-top: 0;
    padding-left: 250px;
}
.copyright ul li{    
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
.copyright .row a {
    color: #086d6de0;
    font-weight: bold
}
.copyright ul li i{
    color: #333
}
/*start copyright*/
